<%= form_with(model: @user, local: true) do |f| %>

  <ul>
    <% @user.errors.full_messages.each do |message|%>
      <li><%= message %></li>
    <%end%>
  </ul>

  <%= f.label :username, "Your user name here" %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.email_field :email, placeholder: "example@example.com"%>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit %>
<%end%>